<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        2020 © Made with <span class="text-danger"><i class="fas fa-heart"></i></span> in <a href="https://www.coconacurfew.in">India</a>
      </div>
      <div class="col-md-6">
        <div class="text-md-right footer-links d-none d-sm-block">
          <a href="https://www.coronacurfew.in"><span class="text-blue"><i class="fab fa-osi"></i></span> Live India Tracker</a>
          <a href="https://ko-fi.com/coronacurfewlive"><span class="text-warning"><i class="fas fa-mug-hot"></i></span> Buy me a Coffee</a>
        </div>
      </div>
    </div>
  </div>
</footer>
